.example-card{
    margin-top: 50px;
    margin-left:250px;
    margin-right:250px;
    width:70%;
    height:50%;
}
.content{
    margin-top: 60px;
    margin-left:120px;
    color: red;
    font-style: initial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#btn-5{
    margin-left: 100px;
    margin-top: 50px;
}
.bg-1{
    background-color: lightgray;
}
#sd{
    margin-left: 10px;
}
#user{
    margin-left:10px;
}
#usericon{
    size: 30cm;
    margin-top: 20px;
    color: red;
    margin-left: 20px;
}
#custicon{
    size: 30cm;
  
    color: red;
    margin-left: 20px;
}
#agenticon{
    size: 30cm;
   
    color: red;
    margin-left: 20px;
}
#prod{
    size: 30cm;
   
    color: red;
    margin-left: 20px;
}
#comp{
    size: 30cm;
   
    color: red;
    margin-left: 20px;
}
#prodt{
    margin-left:10px;
}
#agent{
    margin-left:10px;
}
#compt{
    margin-left:10px;
}
#cust{
    margin-left:10px;
}
#out{
    margin-left: 20px;
}
mat-sidenav {
    width: 180px;
  
}